<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>MultApp</display-name>
  <servlet>
    <description></description>
    <display-name>MultaController</display-name>
    <servlet-name>MultaController</servlet-name>
    <servlet-class>com.dgt.MultaController</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>